body {
  background-color: #bbc;
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 20px;
}
.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.canvas-container {
  display: block;
  position: relative;
  height: 720px;
  width: 720px;
  margin: auto;
  transition: 0.3s cubic-bezier(0.6, 0, 0.2, 1);
}
#cnv {
  height: 100%;
  width: 100%;
}
.info-container {
  display: flex;
  justify-content: space-between;
  width: 720px;
  transition: 0.3s cubic-bezier(0.6, 0, 0.2, 1);
}
.dev-info {
  margin: 1em;
}
.dev-info > * {
  margin-right: 10px;
}
.modal {
  padding: 20px;
  width: 400px;
  text-align: center;
  background-color: #fff;
  border-radius: 6px;
}
.modal.hidden {
  top: 60%;
  opacity: 0;
}
.modal .exit {
  margin: 0;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
button {
  border: none;
  background-color: #ccc;
  padding: 8px 10px;
  vertical-align: bottom;
  border-radius: 5px;
  font-size: 14px;
}
button:hover {
  background-color: #21cd92;
}
button:focus {
  outline: none;
}
.input {
  margin-top: 20px;
  padding: 3px 6px;
  font-size: 20px;
  font-family: monospace;
}
@media screen and (max-width: 900px) {
  .canvas-container {
    height: 600px;
    width: 600px;
  }
  .info-container {
    width: 600px;
  }
}
@media screen and (max-height: 800px) {
  .canvas-container {
    height: 540px;
    width: 540px;
  }
  .info-container {
    width: 540px;
  }
}
